@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

:root {
	--dmsans: 'DM Sans', sans-serif;
	--crete-round: 'Crete Round', sans-serif;

	--light: #FFFFFF;
	--blue: #4AA4D8;
	--light-blue: #E9F7FF;
	--bright-blue: #14B9FF;
	--light-grey: #F7F7F7;
	--grey: #F5F5F5;
	--dark-grey: #AAAAAA;
	--darker-grey: #777777;
	--dark: #3C3C3C;
	--lavender: #DAB5FF;
	--light-lavender: #F1E6FC;
	--deep-lavender: #B372D6;
	--yellow: #FFD900;
	--orange: #FFA16C;
	--light-orange: #FFE0D3;
	--green: #4AD894;
	--light-green: #E9FFF6;
	--baby-pink: #F1E6FC;
	--pink: #dbbcfa;
	--light-warm-orange: #FFE5C2;
	--leaf-green: #40A737;
	--soft-grey: #EEF2F5;
	--deep-blue: #00569E;
	--ocean-blue: #18B0FF;
	--neutral-grey: #E5E5E5;
	--red: #FF6B6B;
	--aqua-green: #4ECDC4;
	--warm-brown: #8B4F2F;
}

.tema-secao-1 {
  --warm-orange: #FEA946;
  --deep-orange: #F68B1E;
  --soft-orange: #FFF3E6;
  --mid-orange: #FDB362;
  --cream: #FFF9F0;
}

/* Tema para Seção 2 (ex: Brigadeiro, Macarrão, Batata) */
.tema-secao-2 {
  --warm-orange: #c59feb;
  --deep-orange: #A864E6;
  --soft-orange: #F4ECFB;
  --mid-orange: #DAB5FF;
  --cream: #F9F2FF;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}
#content {
	position: relative;
}
/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	gap: 24px;
	font-family: var(--dmsans);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav .logo {
    width: 8%;
    height: auto;
}
#content nav .profile {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--dark);
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
}
#content nav .profile i {
	font-size: 24px;
	color: var(--warm-brown);
}

/* SININHO */
#content nav .notificacao-wrapper {
	position: relative;
	display: inline-block;
}
#content nav .notificacao-balao {
	position: absolute;
	top: 40px;
	right: -10px;
	width: 280px;
	background-color: #fff;
	border: 1px solid var(--neutral-grey);
	border-bottom: 5px solid var(--neutral-grey);
	border-radius: 10px;
	padding: 15px 15px 10px 15px;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;  
}
#content nav .notificacao-balao.ativo {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
#content nav .notificacao-balao::before {
	content: "";
	position: absolute;
	top: -12px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid var(--neutral-grey);
	z-index: 1;
}
#content nav .notificacao-balao::after {
	content: "";
	position: absolute;
	top: -10px;
	right: 11px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 10px solid var(--light);
	z-index: 2;
}
#content nav .notificacao-balao button {
	position: absolute;
	top: 5px;
	right: 8px;
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: var(--dark-grey)
}
#content nav .notificacao-balao i {
	color: var(--warm-orange);
	margin-bottom: 15px;
	text-align: center;
	justify-content: center;
	width: 100%;
	display: block;
}
#content nav .notificacao-balao h1 {
	font-size: 18px;
	margin-bottom: 10px;
	color: var(--dark);
	text-align: center;
}
#content nav .notificacao-balao p {
	font-size: 12px;
	margin-bottom: 10px;
	color: var(--darker-grey);
	text-align: center;
}
#iconeSino {
	cursor: pointer;
	transition: transform 0.3s ease;
}
#iconeSino:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease;
}
/* SININHO */

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 10px;
}
#content nav .profile {
	display: flex;
	align-items: center;
	gap: 12px;
}

#content nav .user-info {
	display: flex;
	align-items: center;
	gap: 8px;
}

#content nav .profile i {
	font-size: 24px;
}
/* NAVBAR */



/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--dmsans);
    color: var(--dark);
	max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#content main .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 24px;
}
#content main .content-wrapper .info, .aprender, .parabens {
    background: var(--light);
    padding: 24px;
    border-radius: 12px;
    border-bottom: var(--neutral-grey) solid 5px;
}
#content main .content-wrapper .info h1,
#content main .content-wrapper .aprender h1,
#content main .content-wrapper .parabens h1 {
    font-family: var(--crete-round);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
#content main .content-wrapper .info b {
    font-family: var(--crete-round);
    font-weight: 600;
    color: var(--warm-orange);
}
#content main .content-wrapper .info a,
#content main .content-wrapper .aprender a {
    color: var(--darker-grey);
    font-weight: 500;
}
#content main .content-wrapper .info b:hover {
    font-style: italic;
    color: var(--deep-orange);
}
#content main .content-wrapper .info img {
	width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
#content main .content-wrapper .info p,
#content main .content-wrapper .aprender p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 400;
}

.receita {
    background: linear-gradient(to bottom, var(--soft-orange)5%, var(--light) 30%);
    padding: 32px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: var(--neutral-grey) solid 5px;
}
.receita img {
    width: 100%;
    height: 310px;
    border-radius: 10px;
    margin: 20px auto;
    object-fit: fill;
    display: block;
}
.tag {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--deep-orange);
    border: 2px dashed var(--deep-orange);
    border-radius: 4px;
    margin-bottom: 12px;
}
.receita h2 {
    font-family: var(--crete-round);
    margin-top: 10px;
    font-size: 28px;
    color: var(--deep-orange);
}
.tempo {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 0;
    list-style: none;
    margin: 20px 0;
}
.tempo li {
    text-align: center;
    font-size: 14px;
}
.tempo li span {
    font-weight: bold;
    color: var(--warm-orange);
}
.receita p {
    font-size: 16px;
    margin-bottom: 10px;
}
.receita h3 {
    font-family: var(--crete-round);
    font-size: 24px;
    margin-top: 24px;
}
.receita hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
.ingredientes, .metodo {
    margin-top: 10px;
    padding-left: 20px;
}
.ingredientes li::marker {
    color: var(--deep-orange);
}
.metodo li {
    margin-bottom: 16px;
}
.metodo li::marker {
	font-weight: bold;
}
.metodo li strong {
    font-family: var(--crete-round);
    color: var(--deep-orange);
    font-size: 18px;
}

.info, .receita, .aprender, .parabens {
	display: none;
	transition: opacity 0.5s ease;
}

.info.active,
.receita.active,
.aprender.active,
.parabens.active {
	display: block;
	opacity: 1;
}

#content main .content-wrapper .continuar,
#content main #modal-badge .fechar-modal {
    display: flex;
	font-family: var(--dmsans);
	margin-right: 10px;
    background: var(--warm-orange);
    color: var(--light);
	font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
	border: none;
    border-bottom: var(--deep-orange) solid 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
}
#content main .content-wrapper .continuar:hover,
#content main #modal-badge .fechar-modal:hover {
	background: var(--deep-orange);
	color: var(--light);
	background: var(--mid-orange);
	border-top: var(--light) solid 4px;
	border: none;
	border-bottom: var(--deep-orange) solid 4px;
}
#content main .content-wrapper .continuar:active,
#content main #modal-badge .fechar-modal:active {
	background: var(--mid-orange);
    border: none;
	border-top: var(--light) solid 5px;
}
.nutri-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nutri-imagem {
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  max-width: 43%;
  flex-shrink: 0;
}
.fatos-nutricionais {
  border: 1px solid var(--warm-orange);
  border-radius: 10px;
  padding: 16px;
  max-width: 400px;
  width: 48%;
  margin: 30px auto;
  font-family: var(--dmsans);
}

.fatos-nutricionais h3 {
  color: var(--warm-orange);
  font-family: var(--crete-round);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--dark-grey);
  padding-bottom: 4px;
}

.fatos-nutricionais h3 span {
  font-weight: normal;
  font-size: 12px;
  color: #555;
  text-transform: none;
}

.nutri-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.nutri-info div {
  text-align: center;
  flex: 1;
}

.nutri-info strong {
  display: block;
  font-size: 18px;
  color: #000;
}

.nutri-info span {
  font-size: 12px;
  text-transform: uppercase;
  color: #555;
}

.nutri-obs {
  border-top: 1px solid var(--dark-grey);
  padding-top: 8px;
  margin: 0;
}

.resumo-aprendizado {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--cream);
	border-left: 5px solid var(--warm-orange);
	padding: 16px;
	border-radius: 10px;
	margin-top: 20px;
}

.resumo-aprendizado h3 {
	margin-top: 0;
	color: var(--deep-orange);
	font-family: var(--crete-round);
	font-size: 1.2rem;
}

.resumo-aprendizado ul {
	margin: 10px 0 0;
	padding-left: 20px;
	list-style: disc;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-bottom: 5px solid var(--neutral-grey);
}

.modal-content .badge {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.badge-img {
  display: block;
  margin: 0 auto 1rem auto;
  width: 100px;
  height: auto;
}

/* MAIN */
/* CONTENT */




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}
