@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

/* ===== VARIÁVEIS GLOBAIS ===== */
:root {
	--dmsans: 'DM Sans', sans-serif;
	--crete-round: 'Crete Round', sans-serif;

	--light: #FFFFFF;
	--blue: #4AA4D8;
	--light-blue: #E9F7FF;
	--bright-blue: #14B9FF;
	--light-grey: #F7F7F7;
	--grey: #F5F5F5;
	--dark-grey: #AAAAAA;
	--darker-grey: #777777;
	--dark: #3C3C3C;
	--lavender: #DAB5FF;
	--light-lavender: #F1E6FC;
	--deep-lavender: #B372D6;
	--yellow: #FFD900;
	--orange: #FFA16C;
	--light-orange: #FFE0D3;
	--green: #4AD894;
	--light-green: #E9FFF6;
	--baby-pink: #F1E6FC;
	--pink: #dbbcfa;
	--light-warm-orange: #FFE5C2;
	--leaf-green: #40A737;
	--soft-grey: #EEF2F5;
	--deep-blue: #00569E;
	--ocean-blue: #18B0FF;
	--neutral-grey: #E5E5E5;
	--red: #FF6B6B;
	--aqua-green: #4ECDC4;
	--warm-brown: #8B4F2F;
}

/* ===== TEMAS POR SEÇÃO ===== */
.tema-secao-1 {
  --warm-orange: #FEA946;
  --deep-orange: #F68B1E;
  --soft-orange: #FFF3E6;
  --mid-orange: #FDB362;
  --cream: #FFF9F0;
}
.tema-secao-2 {
  --warm-orange: #c59feb;
  --deep-orange: #A864E6;
  --soft-orange: #F4ECFB;
  --mid-orange: #DAB5FF;
  --cream: #F9F2FF;
}

/* ===== ESTRUTURA GERAL ===== */
html {
	overflow-x: hidden;
}
body {
	background: var(--grey);
	overflow-x: hidden;
}
#content {
	position: relative;
}

/* ===== NAVBAR ===== */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	gap: 24px;
	font-family: var(--dmsans);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav .logo {
    width: 8%;
    height: auto;
}
#content nav .profile {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--dark);
	font-size: 16px;
	font-weight: 500;
}
#content nav .profile i {
	font-size: 24px;
	color: var(--warm-brown);
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 10px;
}

/* ===== NOTIFICAÇÃO - SININHO ===== */
#content nav .notificacao-wrapper {
	position: relative;
	display: inline-block;
}
#content nav .notificacao-balao {
	position: absolute;
	top: 40px;
	right: -10px;
	width: 280px;
	background-color: #fff;
	border: 1px solid var(--neutral-grey);
	border-bottom: 5px solid var(--neutral-grey);
	border-radius: 10px;
	padding: 15px 15px 10px 15px;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;  
}
#content nav .notificacao-balao.ativo {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
#content nav .notificacao-balao::before,
#content nav .notificacao-balao::after {
	content: "";
	position: absolute;
	top: -12px;
	right: 10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#content nav .notificacao-balao::before {
	border-bottom: 12px solid var(--neutral-grey);
	z-index: 1;
}
#content nav .notificacao-balao::after {
	top: -10px;
	right: 11px;
	border-bottom: 10px solid var(--light);
	z-index: 2;
}
#iconeSino {
	cursor: pointer;
	transition: transform 0.3s ease;
}
#iconeSino:hover {
	transform: scale(1.1);
}
/* ===== NAVBAR ===== */



/* ===== MAIN ===== */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--dmsans);
    color: var(--dark);
	max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#content main .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 24px;
}
.info, .aprender, .parabens {
    background: var(--light);
    padding: 24px;
    border-radius: 12px;
    border-bottom: var(--neutral-grey) solid 5px;
}
.info h1, .aprender h1, .parabens h1 {
    font-family: var(--crete-round);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.info p, .aprender p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.info img {
	width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
    object-fit: cover;
}
.receita {
    background: linear-gradient(to bottom, var(--soft-orange)5%, var(--light) 30%);
    padding: 32px;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: var(--neutral-grey) solid 5px;
}
.receita img {
    width: 100%;
    height: 310px;
    border-radius: 10px;
    margin: 20px auto;
    object-fit: fill;
}
.tag {
    display: inline-block;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--deep-orange);
    border: 2px dashed var(--deep-orange);
    border-radius: 4px;
    margin-bottom: 12px;
}
.receita h2 {
    font-family: var(--crete-round);
    font-size: 28px;
    color: var(--deep-orange);
}
.tempo {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 20px 0;
}
.tempo li {
    text-align: center;
    font-size: 14px;
}
.tempo li span {
    font-weight: bold;
    color: var(--warm-orange);
}
.ingredientes, .metodo {
    margin-top: 10px;
    padding-left: 20px;
}
.metodo li {
    margin-bottom: 16px;
}
.metodo li strong {
    font-family: var(--crete-round);
    color: var(--deep-orange);
    font-size: 18px;
}

/* ===== ESTADO DE ATIVAÇÃO DE SEÇÕES ===== */
.info, .receita, .aprender, .parabens {
	display: none;
	transition: opacity 0.5s ease;
}
.info.active, .receita.active, .aprender.active, .parabens.active {
	display: block;
	opacity: 1;
}

/* ===== BOTÕES CONTINUAR E FECHAR MODAL ===== */
.continuar, .fechar-modal {
	display: flex;
	background: var(--warm-orange);
	color: var(--light);
	padding: 15px 20px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	border-bottom: var(--deep-orange) solid 5px;
	cursor: pointer;
	font-size: 14px;
	font-family: var(--dmsans);
	margin-left: auto;
}
.continuar:hover, .fechar-modal:hover {
	background: var(--mid-orange);
	border-top: var(--light) solid 4px;
	border-bottom: var(--deep-orange) solid 4px;
}
.continuar:active, .fechar-modal:active {
	background: var(--mid-orange);
	border-top: var(--light) solid 5px;
}
.nutri-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px 0;
}
.nutri-imagem {
  max-width: 43%;
}
.fatos-nutricionais {
  border: 1px solid var(--warm-orange);
  border-radius: 10px;
  padding: 16px;
  max-width: 400px;
  width: 48%;
}
.fatos-nutricionais h3 {
  color: var(--warm-orange);
  font-family: var(--crete-round);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--dark-grey);
}

/* ===== RESUMO FINAL ===== */
.resumo-aprendizado {
	background-color: var(--cream);
	border-left: 5px solid var(--warm-orange);
	padding: 16px;
	border-radius: 10px;
	margin-top: 20px;
}
.resumo-aprendizado h3 {
	color: var(--deep-orange);
	font-family: var(--crete-round);
}
/* ===== MAIN ===== */



/* ===== MODAL - BADGE ===== */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  border-bottom: 5px solid var(--neutral-grey);
}
.badge-img {
  display: block;
  margin: 0 auto 1rem;
  width: 100px;
}



/* ===== RESPONSIVO ===== */
@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}
	#content {
		width: calc(100% - 60px);
		left: 200px;
	}
	#content nav .nav-link {
		display: none;
	}
}
